<nav class="navbar navbar-dark bg-dark navbar-expand-sm text-center">
    <div class="container-fluid">
      <a class="navbar-brand d-block mx-auto" href="/">
        <h2>User Management</h2>
      </a>
      
      <div class="custom-control custom-switch">
        <span class="rc-custom-switch">
          <span class="p-relative mr-10 switch-label">Blue</span>
          <label class="rc-switch">
            <input type="checkbox" policy-code="1" checked="checked">
            <span class="slider round"></span>
          </label>
          <span class="p-relative ml-10 switch-label ">White</span>
        </span>
      </div>
      
    </div>
  </nav>
  
  
