
.rc-custom-switch {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}    
.top-2 {
    top: 2px;
}
.p-relative {
    position: relative;
}
.mr-10 {
    margin-right: 10px !important;
    color: white;
}
/*   ----------------------------   */
.rc-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}
.rc-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.rc-switch input:checked+.slider {
    background-color:blue!important;
}
.rc-switch .slider.round {
    border-radius: 14px;
}
.rc-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}
.rc-switch .slider.round:before {
    border-radius: 50%;
}
.rc-switch .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 2px;
    bottom: 1.6px;
    background-color: #fff;
    transition: .4s;
}
.rc-switch input:checked+.slider:before {
    transform: translateX(20px);
}
.ml-10 {
    margin-left: 10px !important;
    color:white
}


